<div class="container">
	<div class="row">
		<div class="col-md-4 hidden-xs">
			<div class="row">
				<div class="col-md-12">
					This is top left box
				</div>
				<div class="col-md-12">
					This is middle left box
				</div>
				<div class="col-md-12">
					This is bottom left box
				</div>
			</div>
		</div>
		<div class="col-md-8">
			MAP
		</div>
		<div class="col-md-4 visible-xs">
			<div class="row">
				<div class="col-md-12">
					This is top left box
				</div>
				<div class="col-md-12">
					This is middle left box
				</div>
				<div class="col-md-12">
					This is bottom left box
				</div>
			</div>
		</div>
	</div>
</div>